.container {
    height:800px;
    width: 600px;
}

.containera {
    display:flex;
  width:800px;
  height:600px;
  background:white;
  float:left;
  margin-right: 60px;
  margin-left: 50px;

}


.dropdown-item:hover {
    color:#F39C12;
}

.navbar-brand:hover {
    color:#F39C12;
}

.nav-link:hover {
    color:#F39C12;
}

p {
    color: black;
}


h1 {
    color: black;
}

.text {
    color:white;
}








