.container {
    height:800px;
    width: 600px;
}

.containera {
    display:flex;
    width:800px;
    height:600px;
    background:white;
    margin: auto;
    /* margin-right: 60px;
    margin-left: 50px;
    margin-top: 10px; */
    padding: 10px;
}

#map { 
    height: 400px;
}

.dropdown-item:hover {
    color:#F39C12;
}

.navbar-brand:hover {
    color:#F39C12;
}

.nav-link:hover {
    color:#F39C12;
}

p {
    color: black;
}


h1 {
    color: black;
}

.text {
    color:black;
}

.AgeChart {
    height: 900px;
    width: 900px;
    margin: auto;
}

.SexChart {
    height: 900px;
    width: 900px;
    margin: auto;
}

.RaceChart {
    height: 900px;
    width: 900px;
    margin: auto;
}

.navbar {
    background-color: #6CAAEB;
    }

.comment-box{
    width:50%;
    border:1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
    font-family: 'poppins', sans-serif;
    border-radius: 5px;
    margin-left: 25%;
    margin-top: 80px;
    box-shadow: 0px 0px 10px 1px rgb(165,165, 165);
}
  
.comment-box p{
    text-align: left;
    font-size: 28px;
    color: #777;
}
      
.header {
    color: black;
}
  
.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    outline: none;
    font-size:18px;
    font-family: 'poppins', sans-serif;
    border: 1px solid #ddd;
    color: #777;
} 
  
.comment-form button{
    margin: 10px 0;
    border: none;
    background-color: #d0d0d0;
    padding:10px;
    font-size: 18px;
    border-radius: 3px;
    color: #444;
}
  
.button:hover{
    color: white;
    background-color: #444;
}
  
@media(max-width: 900px){
    .comment-box{
      width: 80%;
      margin:5%;
    }
}

.photo {
    height: 300px;
    width:650px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 50px;
}