.container {
    height:800px;
    width: 600px;
}

.containera {
    display:flex;
  width:800px;
  height:600px;
  background:white;
  float:left;
  margin-right: 60px;
  margin-left: 50px;

}

#map { 
    height: 400px;
}

.dropdown-item:hover {
    color:#F39C12;
}

.navbar-brand:hover {
    color:#F39C12;
}

.nav-link:hover {
    color:#F39C12;
}

p {
    color: black;
}


h1 {
    color: black;
}

.text {
    color:white;
}

.AgeChart {
    height: 900px;
    width: 900px;
    margin: auto;
}

.SexChart {
    height: 900px;
    width: 900px;
    margin: auto;
}

.RaceChart {
    height: 900px;
    width: 900px;
    margin: auto;
}





