<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Police shootings in the US</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/discussion">Discussion</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Charts
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/bar_chart">Bubble Chart</a></li>
                  <li><a class="dropdown-item" href="/pie_charts">Pie Chart</a></li>
                  <li><a class="dropdown-item" href="/map">Map</a></li>
                  <li><a class="dropdown-item" href="/data">Data Table</a></li>
          </div>
        </div>
      </nav>
      <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"
  ></script>
    <table style="width: 100%">
    <tr>
        <th>name</th>
        <th>sex</th>
        <th>age</th>
        <th>ethnicity</th>
        <th>city</th>
        <th>state</th>
        <th>date</th>
        <th>armed</th>
        <th>flee</th>
        <th>body_camera</th>
        <th>is_geocoding_exact</th>
        <th>latitude</th>
        <th>longitude</th>
    </tr>
    {% for data in result %}
    <tr>
            <td>{{ data['name'] }}</td>
            <td>{{ data['sex'] }}</td>
            <td>{{ data['age'] }}</td>
            <td>{{ data['ethnicity'] }}</td>
            <td>{{ data['city'] }}</td>
            <td>{{ data['state'] }}</td>
            <td>{{ data['date'] }}</td>
            <td>{{ data['armed'] }}</td>
            <td>{{ data['flee'] }}</td>
            <td>{{ data['body_camera'] }}</td>
            <td>{{ data['is_geocoding_exact'] }}</td>
            <td>{{ data['latitude'] }}</td>
            <td>{{ data['longitude'] }}</td>
    </tr>
    {% endfor %}
    </table>
  </body>
</html>
