<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Police Shootings in the US</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>

  <body background="https://img.freepik.com/premium-photo/white-oil-paint-brush-stroke-textture-background_53876-148871.jpg">
    <div class="navigation">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/discussion">Discussion</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Charts
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/bar_chart">Bar Chart</a></li>
                <li><a class="dropdown-item" href="/pie_charts">Pie Chart</a></li>
                <li><a class="dropdown-item" href="/map">Map</a></li>
                <li><a class="dropdown-item" href="/data">Data Table</a></li>
        </div>
      </div>
    </nav>
  </div>

    <div class="jumbotron text-center">
      <h1><strong>Discussions</strong></h1>
      <h6 class="header">Gun violence has been described my many as an American epidemic, as is gun violence by the police. Police shootings have a profound impact on our nation and the data shows it. Please leave a comment on how our interactive visualizations have helped u understand this problem, and how it has impacted you.</h6>
    </div>

<!-- 
    <section style="background-color: #d94125;">
      <div class="container my-5 py-5 text-dark">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-6"> -->
            <div class="comment-box">
              <form class="comment-form">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <textarea rows="10" placeholder="Write Your coment"></textarea>
              <button type="Submit">Post comment</button>
              </form>
            </div>
            
           
          <!-- </div>
        </div>
      </div>
    </section> -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
