<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Police shootings in the US</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body background="/static/img/liberty.jpeg">
    
    <div class="navigagion">
    <nav class="navbar navbar-expand-lg bg-blue">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/discussion">Discussion</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Charts
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/bar_chart">Bar Chart</a></li>
                  <li><a class="dropdown-item" href="/pie_charts">Pie Chart</a></li>
                  <li><a class="dropdown-item" href="/map">Map</a></li>
                  <li><a class="dropdown-item" href="/data">Data Table</a></li>
          </div>
        </div>
      </nav>
    </div>

    <div class="jumbotron text-center">
    <h4>Deaths in the United States by police shootings</h4>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="containera" style="height:600px; width:800px; background:#D7DBDD; margin-left: 50px; border-radius: 5px;">
      <div class="row">
        <div class="center">
        <h6>It is true that numbers do not lie and also very true that visuals tell a better story with numbers. In addition to the many concerning causes of death in the United States, death by police shootings has over time become a major issue. This website contains <a href="/data">data</a> that allowed us to create interactive visualizations that provide clearer descriptions of the ways in which people were killed by the police from 2015 to 2022. Our <a href="/map">map</a> displays the locations where the victims met their untimely death, the <a href="/bar_chart"> bar chart</a> provides information on what kind of item they were holding when they got shot, and the <a href="/pie_chart"> pie chart</a> desribes their demographics. You can also easily access the visualizations by clicking "charts" at the top of the screen.</h6>
       <div class="row">
        <div class="col-md-6">
      <img class="photo" src="https://cms.frol.us/wgbh/frontline/wp-content/uploads/2021/11/Fearphoto-1-scaled.jpg" style="height:350px; width: 700px; margin-top: 40px; margin-left: 40px;">
    </div>
  </div>
</div>
    </div>
    </div>

    



      <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"
  ></script>
  </body>
</html>
